
@{
    ViewBag.Title = "AddNumbers";
}

<h2>AddNumbers</h2>
<form method="post" >
    First Number <input type="text" name="num1"/>
    <br/>
    <br/>
    Second Number <input type="text" name="num2"/>
    <br/>
    <br/>
    <input type="submit" value="Add Numbers"/>
    <br/>
    <br/>
    <span>@ViewBag.sum</span>

</form>

