@model MVCDemoApp_WGS.Models.Employee
@{
    ViewBag.Title = "DisplayEmployee";
}

<h2>DisplayEmployee</h2>

<table class="table table-bordered">
    <tr>
        <td>EmpId
        </td>
        <td>@Model.EmpId
        </td>
    </tr>
    <tr>
        <td>EmpName
        </td>
        <td>@Model.EmpName
        </td>
    </tr>
    <tr>
        <td>Salary
        </td>
        <td>@Model.Salary
        </td>
    </tr>
</table>